---
layout: default
---
{%- assign assets_path = "assets/" -%}
{%- if site.assets_path -%}
  {%- assign assets_path = site.assets_path -%}
{%- endif -%}
    {% assign ws = '' %}
    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">{{ site.data.home.intro.lead-in }}</div>
          <div class="intro-heading text-uppercase">{{ site.data.home.intro.heading }}</div>
        </div>
      </div>
    </header>

    <!-- RSVP -->
    <section id="rsvp">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{{ site.data.home.rsvp.heading }}</h2>
            <h3 class="section-subheading text-muted">{{ site.data.home.rsvp.subheading }}</h3>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="https://goo.gl/forms/szEccqCGKhITYnF92" target="_blank">{{ site.data.home.rsvp.btn }}</a>
          </div>
        </div>
      </div>
    </section>

    <!-- Venue -->
    <section class="bg-light" id="venue">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{{ site.data.home.venue.heading }}</h2>
            <h3 class="section-subheading text-muted">{{ site.data.home.venue.subheading }}</h3>
          </div>
        </div>
      </div>
    </section>

    <!-- Travel -->
    <section id="travel">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{{ site.data.home.travel.heading }}</h2>
            <h3 class="section-subheading text-muted">{{ site.data.home.travel.subheading  }}</h3>
          </div>
        </div>
      </div>
    </section>

    <!-- Registry -->
    <section class="bg-light" id="registry">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{{ site.data.home.registry.heading }}</h2>
            <h3 class="section-subheading text-muted">{{ site.data.home.registry.subheading }}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <p class="large text-muted">{{ site.data.home.registry.text }}</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{{ site.data.home.contact.heading }}</h2>
            <h3 class="section-subheading text-muted">{{ site.data.home.contact.subheading }}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <form id="contactForm" name="sentMessage" novalidate="novalidate">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input class="form-control" id="name" type="text" placeholder="{{ site.data.home.contact.name }}" required="required" data-validation-required-message="{{ site.data.home.contact.name-required }}">
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="email" type="email" placeholder="{{ site.data.home.contact.email }}" required="required" data-validation-required-message="{{ site.data.home.contact.email-required }}">
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="phone" type="tel" placeholder="{{ site.data.home.contact.phone }}" required="required" data-validation-required-message="{{ site.data.home.contact.phone-required }}">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <textarea class="form-control" id="message" placeholder="{{ site.data.home.contact.message }}" required="required" data-validation-required-message="{{ site.data.home.contact.message-required }}"></textarea>
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12 text-center">
                  <div id="success"></div>
                  <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">{{ site.data.home.contact.btn }}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>